extends ../main
block content

    link(rel='stylesheet', href='../public/css/grid.css')
    link(rel='stylesheet', href='../public/css/place.css')

    .container
        .well
            h1
                | All Stories in 
                =context.name
                | :
    .container
        .well
            if context.stories.length
                each story in context.stories
                    .row
                        h3
                            a(href='/stories/' + story._id)
                                =story.titleStory
                        if context.picture
                            img(src='' + context.picture)
                        else
                            img(src='https://cdn3.iconfinder.com/data/icons/glypho-travel/64/beach-umbrella-512.png')
                        h5
                            | by 
                            a(href='/user/' + story.user.id)
                                =story.user.username
            else
                h3
                    | There are no stories here yet!