extends ../main
block content

    link(rel='stylesheet', href='../public/css/grid.css')
    link(rel='stylesheet', href='../public/css/location.css')

    .container
        .well
            h1
                | All Locations
    .container
        .well
          each location in context
                div
                    h3
                       a(href='locations/' + location.id) 
                            =location.name
                            