extends ../main
block content

    link(rel='stylesheet', href='../public/css/grid.css')
    link(rel='stylesheet', href='../public/css/place.css')

    .container
        .well
            h1
                | All Locations
    .container
        .well
          each place in context
                div
                    h3
                       a(href='places/' + place.id) 
                            =place.name