extends ../main
block content

  link(rel='stylesheet', href="../../public/css/story-form.css")
  link(rel='stylesheet', href='../public/css/grid.css')
  .container
    .well
      h1
        | Create a Story
  .container
    .well
      form(action="/stories" method="POST" id="useThis")
        .row
          h5
          .row
            | Story Title:
            input.form-control(name="titleStory" id="title" required type="text" placeholder="What were you doing?")
        .row
          h5
          .row
            span.glyphicon.glyphicon-map-marker
            | Location:
          input.form-control(name="location" id= "location" required type="text" placeholder="Where were you?")
        .row
        .row
          h5
          .row
            | Story Category:
            input.form-control(name="categoryStory" id="category" required type="text" placeholder="What's the category of your trip?")
          textarea.form-control(name="body" form="useThis" required placeholder="Tell us about your adventures!")
        button.btn.btn-info.btn-rounded
          | Publish