extends ../main
block content
  link(rel='stylesheet', href="../../public/css/story-form.css")
  div.container-form
    form.form-group(action="/stories" method="POST" id="useThis")
      label(for="title")
        | Story Title:
      input.form-control(name="titleStory" id="title" required type="text" placeholder="put a title here :)")
      label(for="place")
        span.glyphicon.glyphicon-map-marker
        | Location:
      input.form-control(name="place" id= "place" required type="text" placeholder="where have you been?")
      textarea.textBody(name="body" form="useThis" placeholder="your thoughts....")
      button.btn.btn-info.btn-rounded
        | Save your story