extends ../main
block content

  link(rel='stylesheet', href="../../public/css/story-form.css")
  link(rel='stylesheet', href='../../public/css/style.css')
  link(rel='stylesheet', href='../../public/css/grid.css')
  
  .container
    .well
      h1
        | Edit Your Story
  .container
    .well
      form(action="/stories/edit/" +context._id method="POST" id="useThis")
        .row
          h5
          .row
            | Story Title:
            input.form-control(name="titleStory" value = context.titleStory id="title" required type="text" )
          .row
            | Date:
            input.form-control(name="date" id="date" value = context.date required type="date")
        .row
          h5
          .row
            span.glyphicon.glyphicon-map-marker
            | Location:
          input.form-control(name="location" id= "location" required type="text" value = context.location.name)
        h5
          .row
            | Story Category:
            input.form-control(name="categoryStory" id="category" required type="text" value = context.categoryStory.name)
        .row
          textarea.form-control(name="body" form="useThis" type="text")
            =context.body
        button.btn.btn-success.btn-rounded
          | Save Changes