extends ../main
block content
  //- script(src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=tqq5s6kwe7qtj2dn366ll67wl5kfqd4hpxzbamnrbt09fo86")
  //- script
  //-           |tinymce.init({ selector:'textarea' });
  link(rel='stylesheet', href="../../public/css/story-edit.css")
  div.container-form
    form.form-group(action="/stories-update" method="POST" id="useThis")
      label(for="title")
        | Story Title:
      input.form-control(name="titleStory" value = context.titleStory id="title" required type="text" )
      label(for="place")
        span.glyphicon.glyphicon-map-marker
        | Location:
      input.form-control(name="place" id= "place" required type="text" value = context.place.name)
      textarea.textBody(name="body" form="useThis" value = context.body type="text")
      button.btn.btn-info.btn-rounded
        | Edit your story