extends ../main
block content
  
  link(rel='stylesheet', href='../public/css/story-single.css')
  link(rel='stylesheet', href="../../public/css/stories-all.css")
  link(rel='stylesheet', href='../public/css/grid.css')

  .container
    .well
      .row
        h1
          =context.titleStory
        h5
          | by 
          a(href='/user/' + context.user.id)
            =context.user.username
          span.glyphicon.glyphicon-map-marker
          a(href='/locations/' + context.location._id)
            =context.location.name
  .container
    .well
      .row
        if context.picture
          img(src='' + context.picture)
        else
          img(src='https://cdn3.iconfinder.com/data/icons/glypho-travel/64/beach-umbrella-512.png')

  .container
    .well
      .row
        p
          =context.body
  .row
    if(user.username==context.user.username)
      form.form-group(action="/stories/delete/" +context._id method="POST" id="del-form")
        button#del-btn.btn.btn-delete
          | Delete
      a(href="/stories/edit-story/" + context._id)#edit-btn.btn.btn-success
        | Edit