extends ../main
block content
 
  h1
    =context.titleStory
  h1
    =context.place.name
  h1
    =context.user.username
  div
    button#del-btn.btn.btn-success
      | Delete
    button#edit-btn.btn.btn-success
      | Edit