extends ../main
block content

   each stories in context
         
        div
          h1
            a(href='/stories/single-story?title=' + stories.titleStory)
              =stories.titleStory
          h2 
              =stories.author
        div=stories.body
