extends ../main
block content
  if context.length 
   each story in context
         
        div
          h1 
            =story.place.name
          h1
            a(href='/stories/single-story/' + story.id)
              =story.titleStory
        div=story.body
  else 
      p
        h1 
          | no stories
