extends ../main
block content
    link(rel='stylesheet', href="../../public/css/stories-all.css")
    each story in context
      if story.visible
        div.singleStory
          h1.titleStory
            a(href='/stories/' + story._id)
              =story.titleStory
          h1.place 
            =story.place.name
          h2.author
            =story.user.username