extends ../main
block content
    each story in context
        div.singleStory
          h1
            a(href='/stories/' + story._id)
              =story.titleStory
          h1 
            =story.place.name
        div
          h2
            =story.user.username