extends ../main
block content

   each stories in context
         
        div
          h1
            a(href='#')
              =stories.text
          h2 
              =stories.author
        div=stories.body
