extends ../main
block content
  link(rel='stylesheet', href='../../public/css/style.css')

  if context.length 
    each story in context
         
        div.singleStory
          h1 
            =story.place.name
          h1
            a(href='/stories/single-story/' + story.id)
              =story.titleStory
        div=story.body
        div
          h2
           =story.user.username
  else 
      p
        h1 
          | no stories
