doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/css/style.css')
    block js
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
  body
    h1= title
    p Welcome to #{title}
    ul
      li
        a(href="/")
          | Home
      li
        a(href="/ads")
          | All Ads
      li
        a(href="/add")
          | Add New Ad
    block content
    