mixin nav()

 nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      a.navbar-brand(href='/') TravellStories
    ul.nav.navbar-nav
      li.active
        a(href='/team') 
            | Our Team
      li
        a(href='/stories') 
            | Stories
      li
        a(href='/stories/form') 
            | Stories form
      li
        a(href='/places')
            | Places
    if user
      ul.nav.navbar-nav.navbar-right
        li
          =user.username
          form(action="/auth/sign-out" method="post")
            button
              | Logout
    else
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/auth/sign-up')
            span.glyphicon.glyphicon-user
            |  Registration
        li
          a(href='/auth/sign-in')
            span.glyphicon.glyphicon-log-in
            |  Login