mixin homeSubheaderMixin()
  div.mainPage
    div.quote
     h1.title 
      | TRAVELLING.
     h2.subTitle 
      |It leaves you
     h2.subTitle 
      |SPEACHLESS, 
     h2.subTitle  
      |then turns you into 
     h2.subTitle 
      |STORYTELLER.