extends ../main

block content
    form(action='/auth/sign-in', method="POST")
        input(type="text" name="username" placeholder="Username")
        input(type="password" name="password" placeholder="Password")
        button
            | Login