extends main
block content

    link(rel='stylesheet', href='../public/css/grid.css')

    .container
        .well
            .row
                h1
                  | That's a 404!
            .row
                h5
                  | You didn't mean to come here, right?
