include nav


doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js')
    //- script(src='../libs/javascript/chat.js')
    link(rel="stylesheet", href="/libs/bootstrap/dist/css/bootstrap.min.css")
    block css
      link(rel='stylesheet', href='../public/css/style.css')
      link(rel='stylesheet', href='/libs/toastr/build/toastr.css')
    block js
       script(src='/libs/jquery/dist/jquery.js')
       script(src='/libs/toastr/build/toastr.min.js')
    if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
  body()
      +nav()
      
      block content

          
        div.quote
          h1.title 
            | TRAVELLING.
          h2.subTitle 
            |It leaves you
            br 
            |SPEACHLESS, 
            br 
            |then turns you into 
            br 
            |STORYTELLER...