mixin nav()

 nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      a.navbar-brand(href='/') TravelStories
    ul.nav.navbar-nav
      li
        a(href='/team') 
            | Our Team
      li
        a(href='/stories') 
            | Stories
      li
        a(href='/stories/create-story') 
            | Write your TravelStory!
      li
        a(href='/places')
            | Locations
      li
        a(href='/users')
            | Users
    if user
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/user/' + user._id)
            =user.username
        li
          a(href='/auth/sign-out')
              span.glyphicon.glyphicon-log-out
              | Sign Out
    else
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/auth/sign-up')
            span.glyphicon.glyphicon-user
            |  Registration
        li
          a(href='/auth/sign-in')
            span.glyphicon.glyphicon-log-in
            |  Login