extends main

block content
    div.userContainer
      div
        h1
          =user.username
        if user.stories
          each story in user.stories
            div.singleStory
              h1
                | Story Title: 
                =story.titleStory
              h1
              | Story Places: 
              =story.place.name
              h1
              | Story Body: 
              =story.body