extends main

block content

    script(src='../public/javascript/grid.js')
    link(rel='stylesheet', href='../public/css/grid.css')
    link(rel='stylesheet', href='../public/css/user.css')

    .container
        .well
            if context.hasAvatar == true
                img.avatar.group.list-group-image(src='../public/avatars/' + context._id, alt='user avatar')
            else
                img.avatar.group.list-group-image(src='https://cdn0.iconfinder.com/data/icons/users-android-l-lollipop-icon-pack/24/user-512.png', alt='generic avatar')
            if user
                if user.username == context.username
                    form.container(action='/user/avatar' method='POST' id='uploadForm' enctype='multipart/form-data')
                        input.row.btn.btn-success.btn-rounded(name='avatar' id= 'avatar' required type='file')
                        input(name='id' type='hidden' value=context._id)
                        button.row.btn.btn-info.btn-rounded(type='submit' name="submit")
                            | Upload Avatar
            h1.group.inner.list-group-item-heading
                =context.username
            h4.group.inner.list-group-item-text
                =context.bio
            h4.group.inner.list-group-item-text
                if context.stories.length == 0
                    | 
                    =context.username
                    |  hasn't been around all that much...
                else
                    span.glyphicon.glyphicon-map-marker
                        | 
                        =context.username
                        |  has travelled to locations such as 
                        if context.stories
                        each story in context.stories
                            if story.visible
                                =story.location.name
                                |, 
                        | and many, many more!
            .row
                if context.email != ""
                    if user
                        if user.email != context.email
                            a.btn.btn-info.btn-rounded(href='mailto:' + context.email)
                                | Send an Email
    if context.stories.length
      .container
        .well
          h1
            =context.username
            |'s Stories
            each story in context.stories
                .story-box.line
                  h3
                    a.story(href='/stories/' + story._id)
                      =story.titleStory
                  h6
                    span.glyphicon.glyphicon-map-marker
                    a(href='/locations/' + story.location._id)
                        =story.location.name
    else
      .container
        .well
          .row
            h1
              =context.username
              |  has not yet published any stories!
              if user.username == context.username
                .row
                  a.invite.btn.btn-info.btn-rounded(href='/stories/create-story')
                    | Create Your First Story!
