extends main 
block content 
    script(src='../public/javascript/grid')
    link(rel='stylesheet', href='../public/css/grid.css')

    .container
        .well
            h1
                | Our Users
        each user in context
            .item.col-xs-4.col-lg-4
            .well
                if user.hasAvatar == true
                    img.group.list-group-image(src='../public/avatars/' + user._id, alt='user avatar')
                else
                    img.group.list-group-image(src='https://cdn0.iconfinder.com/data/icons/users-android-l-lollipop-icon-pack/24/user-512.png', alt='generic avatar')
                .caption
                h4.group.inner.list-group-item-heading
                    =user.username
                p.group.inner.list-group-item-text
                    =user.bio
                .row
                    a.btn.btn-success(href='/user/' + user._id)
                        | Visit Profile
                    if user.email != ""
                        a.right-btn.btn.btn-info.btn-rounded(href='mailto:' + user.email)
                            | Contact Me