extends main

block content

    script(src='../public/javascript/grid.js')
    link(rel='stylesheet', href='../public/css/grid.css')
    link(rel='stylesheet', href='../public/css/user.css')

    .container
        .well
            if user.hasAvatar == true
                img.group.list-group-image(src='../public/avatars/' + user._id, alt='user avatar')
            else
                img.group.list-group-image(src='https://cdn0.iconfinder.com/data/icons/users-android-l-lollipop-icon-pack/24/user-512.png', alt='generic avatar')
            
            form.container(action='/user/avatar' method='POST' id='uploadForm' enctype='multipart/form-data')
                input.row.btn.btn-success.btn-rounded(name='avatar' id= 'avatar' required type='file')
                input(name='id' type='hidden' value=user._id)
                button.row.btn.btn-info.btn-rounded(type='submit' name="submit")
                    | Upload Avatar
            h1.group.inner.list-group-item-heading
                =user.username
            h4.group.inner.list-group-item-text
                =user.bio
            h4.group.inner.list-group-item-text
                span.glyphicon.glyphicon-map-marker
                    | 
                    =user.username
                    |  has travelled to places such as 
                    if user.stories
                      each story in user.stories
                        if story.visible
                            =story.place.name
                            |, 
                    | and many, many more!
            .row
                if user.email != ""
                    a.btn.btn-info.btn-rounded(href='mailto:' + user.email)
                        | Send an Email
                


    if user.stories
      each story in user.stories
        div.singleStory
          h1
            | Story Title: 
            =story.titleStory
          h1
          | Story Places: 
          =story.place.name
          h1
          | Story Body: 
          =story.body
