extends ../main
block content

    link(rel='stylesheet', href='../public/css/grid.css')
    link(rel='stylesheet', href='../public/css/login.css')
    script(src='../public/javascript/register.js')

    .container
        .well
            h1
                | Registration
            .row
                h5
                    | Complete this short form below to get going!
            .row
                input(type='text' id='username' name="username" required placeholder='Username')
                input(type='text' id='email' name="email" placeholder='Email')
            .row
                input(type='password' id='password' name="password" required placeholder='Password')
                input(type='password' id='password-repeat' name="password-repeat" required placeholder='Password (again)')
            .row
                input(type='text' id='bio' name="bio" placeholder='Tell us a bit about yourself!')
        .row
            button.btn.btn-info.btn-sm(type='submit', id='reg-btn')
                | Register