extends ../main

block content
    script(src='/public/javascript/register.js')
    h1.abc
      =messages
    .container
        .row
          .col-md-12
            //- .pr-wrap
            //-   .pass-reset
            //-     label
            //-         | Enter the email you signed up with
            //-     input(type='email', placeholder='Email')
            //-     input.pass-reset-submit.btn.btn-success.btn-sm(type='submit', value='Submit')
            .wrap
               p.form-title
                 | Registration
               form(action='/auth/sign-up', method ="POST").login
                input(type='text' id='username' name="username" required placeholder='Username')
                input(type='password' id='password' name="password" required placeholder='Password')
                input.btn.btn-info.btn-sm(type='submit', value='Done')
                 