extends ../main

block content
    link(rel='stylesheet', href='../public/css/grid.css')
    link(rel='stylesheet', href='../public/css/login.css')
    .container
        .well
            .row
                h1
                    | Sign In
            .row
                h5
                | Welcome Back!
            .row
                form(action='/auth/sign-in', method ="POST").login
                    .row
                        input(type='text', name="username" placeholder='Username')
                        input(type='password', name="password" placeholder='Password')
                    .row
                        input.btn.btn-info.btn-sm(type='submit', value='Sign In')
