input {
    margin: 10px;
}

#bio {
    width: 400px;
}

h1 {
    color: darkslategrey;
}

h5 {
    color: darkslategrey;
}

input {
    text-align: center;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}