body {
  background-size: cover;
    padding: 0;
    margin: 0;
}
.container-form {
    height: 50%;
    color:black;
}
label{
    margin-left: 21%;
    padding-top: 1%;
    }
form {
    width: 100%;
    opacity:0.9 
}
.form-group{
    width: 70%;
    height: 100%;
    margin-left: 15%;
}
.form-control{
    width: 48%;
    height: 10%;
    margin-left: 21%;
}

textarea{
    margin-top: 3%;
    width: 80%;
    height: 80%;
    color: black;
    margin-left: 10%;
    resize: none;
}
.btn.btn-info.btn-rounded{
    display: block;
    margin-left: 45%;
    margin-top: 2%;
}