body
{
    background-size: cover;
    padding: 0;
    margin: 0;
}
.singleStory{
    width: 50%;
    display: inline-block;
    text-align: center;
    background: url('../pictures/background.jpg');
    margin-left: 10%;
    width: 34%;
    height: 25%;
    margin-bottom: 4%;
}

a {
    color: darkslategray;
}

a:hover {
    text-decoration: none;
    color: grey;
}

.line {
    margin: 0 auto !important;
    width: 400px;
    padding-bottom: 20px;
}

.line:not(:first-child) {
    border-top: 1px solid darkslategray;
}

span {
    margin-left: 10px;
}