.container-form {
        height: 50%;
        color: white;
}
form {
    width: 100%;
    opacity:0.9 
}
.form-group{
    width: 70%;
    height: 100%;
}
.form-control{
    width: 48%;
    height: 10%;
}

textarea{
    margin-top: 3%;
    width: 80%;
    height: 80%;
    color: black;
}
.btn.btn-info.btn-rounded{
    display: block;
}