button {
    margin-top: 20px;
}

form input {
    margin-left: 20px;
}

input {
    margin: 20px;
    width: 300px !important;
    text-align: center;
    margin: 0 auto !important;
}

textarea {
    width: 700px !important;
    height: 300px !important;
    margin: 0 auto !important;
    resize: none;
    margin-top: 30px !important;
    text-align: justify;

}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}