a {
    color: darkslategray;
}

a:hover {
    text-decoration: none;
    color: grey;
}

#avatar {
     display: inline-block; 
     margin-left: -90px;
}

.avatar {
    margin-top: 20px;
}

h1 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.line {
    margin: 0 auto !important;
    width: 400px;
    padding-bottom: 20px;
}

.line:not(:first-child) {
    border-top: 1px solid darkslategray;
}

.line:first-child {
    padding-top: 20px;
}

.story {
    color: darkslategrey;
}

.story:hover {
    text-decoration: none;
    color:grey;
}

.invite {
    margin-top: 40px;
}