.capital {
    font-weight: normal;
    padding-left: 300px;
}

.italic {
    font-style: italic;
    font-weight: normal;
    padding-right: 300px;
}

#one {
    padding-right: 20px;
}

#two {
    padding-left: 150px;
}

#three {
    padding-right: 10px;
}

#four {
    padding-left: 40px;
}